---
---

@import "{{ site.theme }}";

#banner {
  background: #FF8028;
  border: none;
}

#banner .fork {
  background-color: #ffb682
}

#banner #logo {
  background: url(/assets/images/logo.png)
}

header {
  background: #77c5d3;
}

header h1 {
  color: #232323;
  text-shadow: 0px 2px 0px #8f8f8f;
}

header p {
  color: #5e5e5e;
}
